@model Service

@{

    Layout = null;

    //string imageUrl = string.Concat(Model.Thumbnail.First().Url, string.Empty);//"?h=438&w=438");
}


<section>
    <span class="icon solid major fa-code"></span>
    <h3>@Model.Name</h3>
    <p>@Model.Summary</p>
</section>