@{
    ViewData["Title"] = "Not found - 404";
}

Not found - 404


<!--
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nec vero ut voluptatem expetat, natura movet infantem, sed tantum ut se ipse diligat, ut integrum se salvumque velit. Obscura, inquit, quaedam esse confiteor, nec tamen ab illis ita dicuntur de industria, sed inest in rebus ipsis obscuritas. Nondum autem explanatum satis, erat, quid maxime natura vellet. Duo Reges: constructio interrete. Istam voluptatem, inquit, Epicurus ignorat? Etenim nec iustitia nec amicitia esse omnino poterunt, nisi ipsae per se expetuntur. Ita relinquet duas, de quibus etiam atque etiam consideret. Itaque beatior Africanus cum patria illo modo loquens: Desine, Roma, tuos hostes reliquaque praeclare: Nam tibi moenimenta mei peperere labores. Quamvis enim depravatae non sint, pravae tamen esse possunt. Sed audiamus ipsum: Compensabatur, inquit, tamen cum his omnibus animi laetitia, quam capiebam memoria rationum inventorumque nostrorum. Cur fortior sit, si illud, quod tute concedis, asperum et vix ferendum putabit? Uti tum denique iudicetur beatusne fuerit, cum extremum vitae diem morte confecerit, quod ille unus e septem sapientibus non sapienter Croesum monuit; Sin dicit obscurari quaedam nec apparere, quia valde parva sint, nos quoque concedimus; </p>

<p>Quod si ita se habeat, non possit beatam praestare vitam sapientia. Videmusne ut pueri ne verberibus quidem a contemplandis rebus perquirendisque deterreantur? Quos quidem dies quem ad modum agatis et in quantam hominum facetorum urbanitatem incurratis, non diconihil opus est litibus-; Nam prius a se poterit quisque discedere quam appetitum earum rerum, quae sibi conducant, amittere. </p>

<p>Illa sunt similia: hebes acies est cuipiam oculorum, corpore alius senescit; Non enim iam stirpis bonum quaeret, sed animalis. Eam si varietatem diceres, intellegerem, ut etiam non dicente te intellego; Quid ergo aliud intellegetur nisi uti ne quae pars naturae neglegatur? Atque etiam ad iustitiam colendam, ad tuendas amicitias et reliquas caritates quid natura valeat haec una cognitio potest tradere. Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii. </p>

-->